/* @media screen and (max-width: 1300px) {
	.container{
		max-width: 960px;
	}
}
@media screen and (max-width: 990px) {
	.container{
		max-width: 750px;
	}
}
@media screen and (max-width: 780px) {
	.container{
		max-width: 510px;
	}
}
@media screen and (max-width: 540px) {
	.container{
		max-width: 420px;
	}
}
@media screen and (max-width: 450px) {
	.container{
		max-width: 100%;
	}
} */


 @media(max-width:769.99px){
	.header_section{
		flex-direction: column;
	}
  
	.header_logo{
		font-size: 70px;
		line-height: 84px;
	}

 }

 @media(max-width:600.99px){
	.header_section{
		flex-direction: column;
	}
  
	.header_logo{
		font-size: 40px;
		line-height: 44px;
	}
	}

	@media (max-width: 600.99px) {
    .header_logo {
      font-size: 40px;
      line-height: 44px;
    }
  }

 @media screen and (min-width: 768px) {
  #banner-section {
    padding: 132px 0 185px;
  }

  .banner-wrap {
    flex-direction: row;
    text-align: left;
  }

  .banner {
    max-width: 550px;
  }

  .banner_tit {
    font-size: 48px;
  }

  .banner_txt {
    margin: 20px 0 54px;
    font-size: 24px;
    line-height: 36px;
  }
}

 @media screen and (max-width: 1009px) {
  .about-wrap {
    flex-direction: column; /* Изменение направления расположения элементов на столбец */
  }

  .about_img::before {
    left: 0; /* Смещение изображения влево на 0% на узких экранах */
    width: 100%; /* Занимает всю ширину на узких экранах */
  }
}

 @media(max-width:769.99px){
	.banner-section{
		font-size: 40px;
		line-height: 44px;
	}
	.banner_txt{
		font-size: 25px;
    line-height: 29px;
	}
 }

 @media(max-width:769.99px){
	.about-section{
		width: 450px;
		height: 450px;
	}
 }

 @media(max-width:769.99px){
	.sales-section{
		width: 400px;
		height: 400px;
	}

	@media screen and (max-width: 767px) {
		.sales-img {
			width: 100%; 
			background-size: cover;
		}
	}
 }

 @media screen and (min-width: 768px) {
  .projects_link {
    grid-column: auto; /* Сброс grid-column */
  }

  .projects_link:nth-child(1) {
    grid-column: 1/3;
  }

  .projects_link:nth-child(2) {
    grid-column: 3/4;
  }

  .projects_link:nth-child(3) {
    grid-column: 1/2;
  }

  .projects_link:nth-child(4) {
    grid-column: 2/4;
  }
}


 @media(max-width:769.99px){
	.service-section{
		grid-template-columns: auto;
		row-gap: 40px;
	}
 }

 @media screen and (min-width: 768px) {
  #contact-section {
    padding: 58px 0 52px;
  }

  .contacts-wrap {
    flex-direction: row; /* Возвращаем расположение элементов в ряд на более широких экранах */
    justify-content: space-between;
  }

  .contact {
    max-width: 455px;
  }

  .contact-form {
    flex-direction: row; /* Возвращаем расположение элементов в ряд на более широких экранах */
    width: auto;
  }

  .contact-form_input {
    width: auto;
  }
}

 @media screen and (max-width: 767px) {
  .footer-wrap,
  .footer-nav-wrap,
  .footer-social-wrap {
    justify-content: center; 
  }
}